* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(116, 149, 177);
    color: white;
}

.button:active {
    background-color: rgb(69, 141, 203);
    color: white;
}
