.FormForBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    & button{
        margin-top: 30px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 17px;
        cursor: pointer;
        background-color: orange;
        color: white;
    }
}

.InputField {
    min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:not(:first-of-type){
    margin-top: 25px;
  }
  & input {
    border: 1px solid black;
    padding: 3px;
  }
}

.InputError{
  position: absolute;
  top: 100%;
  font-size: 15px;
  color: red;
}
