.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 500ms all;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-body {
    background-color: white;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 0;
    transition: 400ms all;
    &.active {
      scale: 1;
    }
  }

  
  .modal-header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-color:  rgb(163, 35, 0);
  }
  
  .modal-content {
    font-size: 14px;
    background-color: rgb(193, 73, 40);
    padding: 30px 60px;
    min-height: 100px;
    color: #fff;
    text-align: center;
    min-width: 500px;
  }
  
  .modal-footer {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(193, 73, 40);
  }
}